{% extends "core/base.html" %}

{% block title %}Sign Up{% endblock title %}

{%block content%}
<div class="w-full md:w-1/2 my-6 mx-auto bg-gray-100 rounded-xl p-6">
    <h1 class="mb-6 text-2xl md:text-3xl">Log In</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label class="inline-block mb-2 text-base md:text-lg">Username</label><br>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2 text-base md:text-lg">Password</label><br>
            {{ form.password }}
        </div>
        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="py-2 md:py-4 px-4 md:px-8 text-base md:text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>

{%endblock%}
